################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenIdTest/OpenIdTest/obj/Debug
/OpenIdTest/OpenIdTest/bin
/OpenIdTest/packages
/OpenIdTest/.vs
/.vs
/OpenIdTest/OpenIdTest/App_Data/client_secret_85943778819-sbqv80a8q9naonmc9pi4lk0dd5b8oelf.apps.googleusercontent.com.json
/OpenIdTest/OpenIdTest/OpenId.config
