@{
    ViewBag.Title = "Claim Test";
}
@{
    var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;

    if (claimsIdentity != null)
    {
        var pic = claimsIdentity.FindFirst("picture");
        <div class="row">
            <h1>Claims</h1>
        </div>
        <div class="row">
            <div class="col-md-2">
                @if (pic != null)
                {
                    <img src="@pic.Value" />
                }
            </div>
            <div class="col-md-10">
                @foreach (var claim in claimsIdentity.Claims)
                {
                    <div class="row">
                        <div class="col-md-6">
                            @claim.Type.ToString()
                        </div>
                        <div class="col-md-6">
                            @claim.Value.ToString();
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
